.header
{
  background-color: gray;
  padding: 20px;
  margin: 10px;

}
.products
{
  width: 100%;
  display: flex;
}
.product
{
  padding: 20px;
  margin: 10px;
  background-color: skyblue;
  width: fit-content;
}
.img
{
width: 200px;
}
.btn{
    padding: 15px 35px;
    background-color: black;
    color: white;
}